@font-face {
    font-family: 'HelveticaNeue';
    src: url(../fonts/HelveticaNeue.ttf);

    font-family: 'Helvetica Neue-Italic';
    src: url(../fonts/HelveticaNeue-Italic.ttf);

    font-family: 'HelveticaNeue-Medium';
    src: url(../fonts/HelveticaNeue-Medium.ttf);

    font-family: 'PlayfairDisplay-Italic';
	src: url(fonts/PlayfairDisplay-Italic.eot);
	src: local(☺), url(fonts/PlayfairDisplay-Italic.woff) format('woff'), url(fonts/PlayfairDisplay-Italic.ttf) format('truetype'), url(fonts/PlayfairDisplay-Italic.svg) format('svg');
	font-weight: normal;
	font-style: normal;
   }

body {
	font-family: 'HelveticaNeue', Arial, sans-serif;
	font-size: 0.9em;
	line-height: 1.6em;
	width: 100%;
	color: #000;
}

.wrap {
	margin-left:auto;
	margin-right:auto;
	width: 980px;
}

.thirty-padding {
	padding: 0 30px 0 30px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

#map {
	width: 550px;
	height: 430px;
	clear: both;
	margin-bottom: 100px;
}

hr {
	position: relative;
	top: -15px;
}

/* ССЫЛКИ */

/* Белые */

a.white:link {
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	text-decoration: none;
}

a.white:visited {
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	text-decoration: none;
}

a.white:hover {
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);
	text-decoration: none;
}

/* Черно-красные */

a.black:link, a.black:visited {
	color: #000;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	text-decoration: none;
}

a.black:hover {
	color: #E52E2D;
	border-bottom: 1px solid rgba(229, 46, 45, 0.2);
	text-decoration: none;
}

/* Серые */

a.grey:link {
	color: #7F7F7F;
	border-bottom: 1px solid rgba(127, 127, 127, 0.2);
	text-decoration: none;
}

a.grey:visited {
	color: #7F7F7F;
	border-bottom: 1px solid rgba(127, 127, 127, 0.2);
	text-decoration: none;
}

a.grey:hover {
	color: #7F7F7F;
	border-bottom: 1px solid rgba(127, 127, 127, 0.8);
	text-decoration: none;
}

/* ТЕКСТ */

/* Заголовок (на всю ширину) */

.header {
	font-size: 30px;
	line-height: 40px;
	font-family: 'HelveticaNeue', Arial, sans-serif;
}

/* Текст под заголовком */

p.text-under-header {
	padding: 12px 0 40px 0;
	font-size: 1em;
}

/* Наборный текст(на всю ширину) */

.text-base {
	padding: 30px 0 60px 0;
}

/* Жирный текст */

b {
	font-family: 'HelveticaNeue-Medium', Arial, sans-serif;
}

/* Шапка */

header {
	height: 150px;
}

.header_logo {
	float: left;
	padding-top: 34px;
	width: 250px;
}

.header_contacts {
	width: 230px;
	float: left;
	padding: 34px 0 0 115px;
}

.header_adress {
	width: 282px;
	float: left;
	text-align: left;
	padding: 34px 0 0 38px;
}

p.adress {
	padding-bottom: 10px;
}

p.header_small_above {
	font-size: 13px;
	color: #7F7F7F;
	line-height: 18px;
	padding-bottom: 6px;
}

p.header_small_under {
	font-size: 13px;
	color: #7F7F7F;
	line-height: 18px;
}

p.phone {
	font-size: 16px;
	text-decoration: none;
	color: #000;
}

p.phone a {
	font-size: 16px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	text-decoration: none;
	color: #000;
}

/* Фоторама */

.fotorama {
	padding-bottom: 40px;
}


/*-------- Т а б ы ---------*/

.tabbed {
	width: 920px;
	margin-top: 20px;
}

	.tabbed > input {
		display: none;
	}

	.tabbed > label {
		font-size: 36px;
		font-family: 'PlayfairDisplay-Italic', Georgia, serif;
		font-family: 'Playfair Display', Georgia, serif;
		font-style: italic;
		margin-right: 40px;
		cursor: pointer;
		border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
	}

	.tabbed > label:hover {
		font-size: 36px;
		font-family: 'PlayfairDisplay-Italic', Georgia, serif;
		font-family: 'Playfair Display', Georgia, serif;
		font-style: italic;
		margin-right: 40px;
		cursor: pointer;
		color: #E52E2D;
		border-bottom: 1px dashed rgba(229, 46, 45, 0.8);
	}

	.tabbed > input:checked + label {
	 	border: none;
	 	color: #E52E2D;
	}

	.tabs > div {
		display: none;
	}

	#tab-nav-1:checked ~ .tabs > div:nth-of-type(1){
	 	display: block;
	}

	#tab-nav-1:checked ~ .tabs > div:nth-of-type(1){
		display: block;
	}

	#tab-nav-2:checked ~ .tabs > div:nth-of-type(2){
	 	display: block;
	}


/*----------------------*/


/* вкладка ШКОЛА */

.courses {}

	.course {
		vertical-align: top;
		width: 285px;
		position: relative;
		display: inline-block;
		margin: 0 0 32px 0;
		box-shadow: 0 0 4px rgba(0,0,0,0.2);
	}

	.course-three {
		vertical-align: top;
		width: 285px;
		position: relative;
		display: inline-block;
		box-shadow: 0 0 4px rgba(0,0,0,0.2);
	}

		.height-third-line {
			height: 120px; /* высота 1-2-3-4 карточек */
		}

		.height-secong-line {
			height: 100px; /* высота 4-5-6 карточек */
		}

		.height-first-line {
			height: 75px; /* высота 7-8 карточек */
		}

		.course-header {
			font-size: 16px;
			padding: 8px 18px 8px 18px;
		}

		.course-about {
			padding-top: 7px;
			font-size: 13px;
		}

		.course-price-1 {
			font-size: 18px;
			font-weight: 600;
			padding: 14px 0 0 18px;
		}

		.course-price-2 {
			font-size: 13px;
			padding: 4px 0 14px 18px;
		}

		.price-once {
			color: #CBCBCB;
			font-style: italic;
		}

		img.badge {
			position: absolute;
			top: 201px;
		}

		.dashed {
			border-bottom: 1px dashed #CBCBCB;
		}

		.white-space {
			display: inline-block;
			width: 24px;
		}

		/* Швейный класс */

		hr {
			border-color: #DEDEDE;
			margin: 40px 0;
		}

		.sewing-class {
			height: 230px;
			/*background-color: red;*/

			vertical-align: top;
			margin-bottom: 100px;
			box-shadow: 0 0 4px rgba(0,0,0,0.2);
		}

		.img-class {
			float: left;
		}

		.class-text {
			float: left;
			padding: 30px;
			width: 485px;
		}

		.class-header {
			font-size: 30px;
		}

		.class-price {
			font-size: 18px;
			font-weight: 600;
			width: 200px;
			display: inline;
			margin-right: 20px;
		}

		.class-price-about {
			font-size: 13px;
			color: #7F7F7F;
			display: inline;
		}

/* вкладка  Студия */

.studio {}

	.about {
		margin-bottom: 30px;
		font-size: 1em;
	}

	#table-studio {
		margin-bottom: 50px;
		width: 100%;
	}

	#table-studio td {
		padding: 30px 40px;
		text-align: center;
	}

		.td-center {
			width: 225px;
		}

/* Новости и Обратная связь */

.news-feedback {
	color: #fff;
	background-color: #222;
	padding-top: 50px;
	margin-top: 50px;
	height: 585px;
}

	/* Заголовок */

	.news-feedback-header {
		font-size: 16px;
		color: #7F7F7F;
		padding-bottom: 35px;
		letter-spacing: 3px;
	}

	/* Новости */

	.news {
		width: 370px;
		padding-right: 26px;
		height: 500px;
		float: left;
	}

	.p-date {
		font-size: 13px;
		margin: 0;
		color: #7F7F7F;
	}

	.p-header {
		font-size: 15px;
		font-family: 'HelveticaNeue-Medium', Arial, sans-serif;
		margin: 5px 0 15px 0;
	}

	.p-text {
		padding-bottom: 20px;
		margin: 0 0 10px 0;
	}

	.p-all-news {
		font-size: 16px;
	}

	/* Обратная связь */

	.feedback-textarea {
		font-size: 13px;
		color: #fff;
		padding: 13px 12px 0 13px;
		margin-bottom: 6px;
		background-color: #1F1F1F;
		border: 1px dashed #7F7F7F;
		outline: none;
		resize: none;
		font-family: Arial;
		-webkit-appearance: none;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
	}

	.feedback-textarea:focus {
		background-color: #181818;
	}

	.feedback-input-name {
		font-size: 13px;
		color: #fff;
		padding: 0 0 0 14px;
		margin-right: 10px;
		height: 35px;
		width: 150px;
		border: 1px dashed #7F7F7F;
		background-color: #1F1F1F;
		outline: none;
		font-family: Arial;
		-webkit-appearance: none;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
	}

	.feedback-input-name:focus {
		background-color: #181818;
	}

	.feedback-input-mail {
		font-size: 13px;
		color: #fff;
		padding: 0 0 0 14px;
		margin-right: 13px;
		height: 35px;
		width: 190px;
		border: 1px dashed #7F7F7F;
		background-color: #1F1F1F;
		outline: none;
		font-family: Arial;
		-webkit-appearance: none;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
	}

	.feedback-input-mail:focus {
		background-color: #181818;
	}

	a.send_button {
		position: absolute;
		font-size: 13px;
	  	color: #fff;
	  	text-decoration: none; /* убирать подчёркивание у ссылок */
	  	user-select: none; /* убирать выделение текста */
	  	background: rgb(23,22,22);
	  	padding: 7px 27px 7px 27px;
	  	outline: none; /* убирать контур в Mozilla */
	}
	a.send_button:hover { background: rgb(229,46,45); }
	a.send_button:active { background: rgb(189, 27,26); }

	img.img-scissors {
		margin: 45px 0 0 40px;
	}

	/* Блок с социалками */

	.content-social {
		height: 332px;
		margin-top: -20px;
	}

	.insta-photo {
		float: left;
		width: 300px;
	}

	.social-text {
		width: 580px;
		padding-top: 140px;
		float: left;
		margin-left: 40px;
		line-height: 34px;
	}

	.insta-header {
		font-size: 30px;
		font-family: 'HelveticaNeue-Medium', Arial, sans-serif;
	}

	.vk-text {
		padding-top: 14px;
	}

/* Подвал */

.footer {
	height: 240px;
	background-color: #222;
	color: #fff;
}

ul.footer-about {
	float: left;
	width: 420px;
	text-align: left;
	position: absolute;
	padding-top: 44px;
}

ul.footer-developer {
	float right;
	text-align: right;
	padding-top: 98px;
}

p.footer-header {
	font-size: 16px;
	margin-top: 20px;
	padding-bottom: 10px;
}

p.footer-adress {
	padding-bottom: 10px;
	font-size: 13px;
	color: #7F7F7F;
}

span.footer-phone {
	font-size: 14px;
	text-decoration: none;
	color: #fff;
}

span.footer-phone a {
	font-size: 14px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	text-decoration: none;
	color: #fff;
}

.name {
	letter-spacing: 3px;
}





/*-----  ДРУГИЕ ФАЙЛЫ  -----*/





/* Страница курса */

.two-columns {
	width: 920px;
}

	/* Левая колонка */

	.left-column {
		width: 560px;
		margin-right: 50px;
	}

	.badge-disabled {
		font-size: 11px;
		display: inline;
		letter-spacing: 1.6px;
		color: #fff;
		text-align: center;
		padding: 8px 16px;
		margin-right: 25px;
		background-color: #222;
	}

	.table-course {
		margin-top: 30px;
		width: 560px;
	}

		th.course-col-time {
			width: 140px;
		}

		th.course-col-data {
			width: 40px;
		}

		th.course-col-cost {
			width: 100px;
		}
 
	/* Правая колонка */

	.sidebar {
		width: 240px;
		padding: 32px;
		background-color: #222;
		color: #fff;
		margin-top: 10px;
		height: 305px;
		float: right;
		position: relative;
	}

		.right-column-header {
			font-size: 25px;
			margin-bottom: 30px;
		}

		.right-column-text {
			color: #7F7F7F;
			margin-bottom: 10px;
			line-height: 20px;
		}

		.write-input {
			font-size: 13px;
			color: #fff;
			padding: 0 0 0 14px;
			margin-bottom: 15px;
			height: 35px;
			width: 225px;
			border: 1px dashed #7F7F7F;
			background-color: #1F1F1F;
			outline: none;
			font-family: Arial;
			-webkit-appearance: none;
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
		}

		.write-input:focus {
			background-color: #181818;
		}

		.write-dropdown {
			font-size: 13px;
			color: #fff;
			margin-bottom: 15px;
			padding: 0 0 0 14px;
			height: 35px;
			width: 241px;
			border: 1px dashed #7F7F7F;
			background-color: #1F1F1F;
			outline: none;
			font-family: Arial;
			border-radius: none;
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
			-webkit-appearance: none;
			-moz-appearance: none;
			background: url(../img/dropdown-arrow@2x.svg) no-repeat right;
			outline: none;
		}

		.btn-send {
			cursor: pointer;
			text-align: center;
			padding: 9px 15px;
			background-color: #000;
			color: #fff;
			border: none;
			width: 241px;
			height: 40px;
			font-size: 16px;
			-webkit-appearance: none;
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
			outline: none;
		}

		.btn-send:hover {
			background-color: #E52E2D;
		}

		.btn-send:active {
			background-color: #BD1B1A;
		}
		
		.btn-send-disabled {
			text-align: center;
			padding: 9px 15px;
			background-color: #191919;
			color: #5D5D5D;
			border: none;
			width: 241px;
			height: 40px;
			font-size: 16px;
			-webkit-appearance: none;
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
			outline: none;
		}


/* Новость */

.social {
	padding-bottom: 60px;
}

.last-elem {
	padding-bottom: 60px;
}


/* Расписание курсов */

table {
	width: 920px;
	margin-bottom: 60px;
	text-align: left;
}

	tr.table-header {
		font-size: 10px;
		color: #7F7F7F;
		letter-spacing: 2px;
		border-bottom: 1px solid #7F7F7F;
		font-family: 'HelveticaNeue', Arial, sans-serif;
	}

	tr.bg-grey {
		background-color: #F2F2F2;
	}

	th {
		padding: 10px 20px 0 20px;
	}

	th.col-name {
		width: 236px;
	}

	th.col-time {
		width: 180px;
	}

	th.col-data {
		width: 130px;
	}

	th.col-cost {
		width: 220px;
	}

	td {
		padding: 25px 20px;
	}

	/* Информация под загловком курса */

	.table-header-info {
		margin-top: 10px;
		font-size: 12px;
	}

		/* Бейдж-мини */

		.badge-new-mini {
			font-size: 8px;
			display: inline;
			letter-spacing: 1.6px;
			color: #000;
			height: 18px;
			text-align: center;
			padding: 4px 8px;
			margin-right: 18px;
			border: 1px solid #222;
		}


