@font-face {
    font-family: 'HelveticaNeue';
    src: url(fonts/HelveticaNeue.ttf);

    font-family: 'Helvetica Neue-Italic';
    src: url(fonts/HelveticaNeue-Italic.ttf);

    font-family: 'HelveticaNeue-Medium';
    src: url(fonts/HelveticaNeue-Medium.ttf);
   }

body {
	font-family: 'HelveticaNeue', Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	width: 100%;
	color: #000;
}

.wrap {
	margin-left:auto;
	margin-right:auto;
	width: 980px;
}

.thirty-padding {
	padding: 0 30px 0 30px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

#map {
	padding-top: 30px;
	width: 550px;
	height: 430px;
}

/* ССЫЛКИ */

/* Белые */

a.white:link {
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	text-decoration: none;
}

a.white:visited {
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	text-decoration: none;
}

a.white:hover {
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);
	text-decoration: none;
}

/* Черные */

a.black:link {
	color: #000;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	text-decoration: none;
}

a.black:visited {
	color: #000;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	text-decoration: none;
}

a.black:hover {
	color: #000;
	border-bottom: 1px solid rgba(0, 0, 0, 0.8);
	text-decoration: none;
}

/* Серые */

a.grey:link {
	color: #7F7F7F;
	border-bottom: 1px solid rgba(127, 127, 127, 0.2);
	text-decoration: none;
}

a.grey:visited {
	color: #7F7F7F;
	border-bottom: 1px solid rgba(127, 127, 127, 0.2);
	text-decoration: none;
}

a.grey:hover {
	color: #7F7F7F;
	border-bottom: 1px solid rgba(127, 127, 127, 0.8);
	text-decoration: none;
}

/* ТЕКСТ */

/* Заголовок (на всю ширину) */

.header {
	font-size: 30px;
	line-height: 44px;
	font-family: 'HelveticaNeue-Medium', Arial, sans-serif;
}

/* Заголовок (инлайновый) */

.header-inline {
	font-size: 30px;
	line-height: 44px;
	font-family: 'HelveticaNeue-Medium', Arial, sans-serif;
	display: inline;
}

/* Текст под заголовком */

p.text-under-header {
	padding: 12px 0 40px 0;
}

/* Наборный текст(на всю ширину) */

.text-base {
	padding: 30px 0 30px 0;
}

/* Жирный текст */

b {
	font-family: 'HelveticaNeue-Medium', Arial, sans-serif;
}

/* Шапка */

header {
	height: 150px;
}

.header_logo {
	float: left;
	padding-top: 34px;
	width: 250px;
}

.header_contacts {
	width: 230px;
	float: left;
	padding: 34px 0 0 144px;
}

.header_adress {
	width: 255px;
	float: left;
	text-align: left;
	padding: 34px 0 0 40px;
}

p.header_small {
	font-size: 11px;
	color: #7F7F7F;
}

p.phone {
	font-size: 16px;
	text-decoration: none;
	color: black;
}

p.phone a {
	font-size: 16px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	text-decoration: none;
	color: black;
}

/* Фоторама */

.fotorama {
	padding-bottom: 40px;
}

/* Контент (Школа и Ателье) */

.content-about {
	padding-top: 30px;
}


/*-------- Т а б ы ---------*/

.tabbed {
	width: 920px;
	margin: 20px 0 20px 0;
}

.tabbed > input {
	display: none;
}

.tabbed > label {
	font-size: 30px;
	font-family: 'HelveticaNeue-Medium', Arial, sans-serif;
	margin-right: 30px;
	cursor: pointer;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	border-style: dashed;
}

.tabbed > label:hover {
	font-size: 30px;
	font-family: 'HelveticaNeue-Medium', Arial, sans-serif;
	margin-right: 30px;
	cursor: pointer;
	border-bottom: 1px solid rgba(0, 0, 0, 0.8);
	border-style: dashed;
}

.tabbed > input:checked + label {
 	border: none;
}

.tabs > div {
	width: 920px;
	display: none;
}

#tab-nav-1 {
 	display: none;
}

#tab-nav-1:checked ~ .tabs ~ div:nth-of-type(1){
 	display: block;
}

#tab-nav-1:checked ~ .tabs > div:nth-of-type(1){
	display: block;
}

#tab-nav-2:checked ~ .tabs > div:nth-of-type(2){
 	display: block;
}

/*----------------------*/


/* вкладка ШКОЛА */

.courses {}

	.course {
		vertical-align: top;
		width: 285px;
		position: relative;
		display: inline-block;
		margin: 0 0 32px 0;
		box-shadow: 0 0 4px rgba(0,0,0,0.2);
	}

	.course-three {
		vertical-align: top;
		width: 285px;
		position: relative;
		display: inline-block;
		box-shadow: 0 0 4px rgba(0,0,0,0.2);
	}

		.height-first-line {
			height: 122px; /* высота 1-2-3 карточек */
		}

		.height-secong-line {
			height: 97px; /* высота 4-5-6 карточек */
		}

		.height-third-line {
			height: 97px; /* высота 7-8 карточек */
		}

		.course-header {
			font-size: 16px;
			padding: 8px 18px 8px 18px;
		}

		.course-about {
			padding-top: 7px;
			font-size: 13px;
		}

		.course-price-1 {
			font-size: 18px;
			font-weight: 600;
			padding: 14px 0 0 18px;
		}

		.course-price-2 {
			font-size: 12px;
			padding: 4px 0 14px 18px;
		}

		.price-once {
			color: #CBCBCB;
			font-style: italic;
		}

		img.badge {
			position: absolute;
			top: 201px;
		}

		.dashed {
			border-bottom: 1px dashed #CBCBCB;
		}

		.white-space {
			display: inline-block;
			width: 24px;
		}

/* вкладка АТЕЛЬЕ */

.studio {}

	.about {
		position: relative;
		display: inline-block;
		width: 540px;
		font-size: 16px;
		line-height: 28px;
	}

	.ceo {
		float: right;
		width: 280px;
	}

/* Новости и Обратная связь */

.news-feedback {
	color: #fff;
	background-color: #222;
	padding-top: 50px;
	margin-top: 50px;
	height: 670px;
}

	/* Заголовок */

	.news-feedback-header {
		font-size: 16px;
		color: #7F7F7F;
		padding-bottom: 35px;
		letter-spacing: 3px;
	}

	/* Новости */

	.news {
		width: 370px;
		padding-right: 26px;
		height: 500px;
		float: left;
	}

	.p-date {
		font-size: 10px;
		margin: 0;
		color: #7F7F7F;
	}

	.p-header {
		font-size: 15px;
		font-family: 'HelveticaNeue-Medium', Arial, sans-serif;
		margin: 5px 0 15px 0;
	}

	.p-text {
		padding-bottom: 20px;
		margin: 0 0 10px 0;
	}

	.p-all-news {
		font-size: 16px;
	}

	/* Обратная связь */

	.feedback-textarea {
		font-size: 13px;
		color: #fff;
		padding: 13px 12px 0 13px;
		margin-bottom: 6px;
		background-color: #1F1F1F;
		border: 1px dashed #7F7F7F;
		outline: none;
		resize: none;
		font-family: Arial;
	}

	.feedback-textarea:focus {
		background-color: #181818;
	}

	.feedback-input-name {
		font-size: 13px;
		color: #fff;
		padding: 0 0 0 14px;
		margin-right: 10px;
		height: 35px;
		width: 150px;
		border: 1px dashed #7F7F7F;
		background-color: #1F1F1F;
		outline: none;
		font-family: Arial;
	}

	.feedback-input-name:focus {
		background-color: #181818;
	}

	.feedback-input-mail {
		font-size: 13px;
		color: #fff;
		padding: 0 0 0 14px;
		margin-right: 13px;
		height: 35px;
		width: 190px;
		border: 1px dashed #7F7F7F;
		background-color: #1F1F1F;
		outline: none;
		font-family: Arial;
	}

	.feedback-input-mail:focus {
		background-color: #181818;
	}

	a.send_button {
		position: absolute;
		font-size: 13px;
	  	color: #fff;
	  	text-decoration: none; /* убирать подчёркивание у ссылок */
	  	user-select: none; /* убирать выделение текста */
	  	background: rgb(23,22,22);
	  	padding: 8px 27px 8px 27px;
	  	outline: none; /* убирать контур в Mozilla */
	}
	a.send_button:hover { background: rgb(29,28,28); }
	a.send_button:active { background: rgb(0,0,0); }

	img.img-scissors {
		margin: 100px 0 0 40px;
	}

	/* Блок с социалками */

	.content-social {
		height: 332px;
		margin-top: -20px;
	}

	.insta-photo {
		float: left;
		width: 300px;
	}

	.social-text {
		width: 580px;
		padding-top: 140px;
		float: left;
		margin-left: 40px;
		line-height: 34px;
	}

	.insta-header {
		font-size: 30px;
		font-family: 'HelveticaNeue-Medium', Arial, sans-serif;
	}

	.vk-text {
		padding-top: 14px;
	}

/* Подвал */

.footer {
	height: 240px;
	background-color: #222;
	color: #fff;
}

ul.footer-about {
	float: left;
	width: 420px;
	text-align: left;
	position: absolute;
	padding-top: 44px;
}

ul.footer-developer {
	float right;
	text-align: right;
	padding-top: 98px;
}

p.footer-header {
	font-size: 16px;
	margin-top: 20px;
	padding-bottom: 10px;
}

p.footer-adress {
	padding-bottom: 10px;
	font-size: 11px;
	color: #7F7F7F;
}

span.footer-phone {
	font-size: 14px;
	text-decoration: none;
	color: #fff;
}

span.footer-phone a {
	font-size: 14px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	text-decoration: none;
	color: #fff;
}

.name {
	letter-spacing: 3px;
}





/*-----  ДРУГИЕ ФАЙЛЫ  -----*/





/* Страница курса */

.two-columns {
	height: 980px;
}

	/* Левая колонка */

	.left-column {
		width: 580px;
		float: left;
		padding-right: 30px;
	}
 
	/* Правая колонка */

	.right-column {
		width: 266px;
		padding: 17px 22px 22px 22px;
		background-color: #222;
		color: #fff;
		float: left;
		margin-top: 10px;
	}

	.right-column-header {
		font-size: 22px;
		padding: 6px 0 28px 0;
	}

	.write-form {
		margin-bottom: 20px;
	}

	.final-text {
		color: #7F7F7F;
	}

	/* Формы */

	.write-input-name {
		font-size: 13px;
		color: #fff;
		padding: 0 0 0 14px;
		margin-right: 10px;
		height: 35px;
		width: 250px;
		border-style: dashed;
		border-color: #7F7F7F;
		border-width: 2px;
		background-color: #1F1F1F;
		outline: none;
		margin-bottom: 20px;
	}

	.write-input-mail {
		font-size: 13px;
		color: #fff;
		padding: 0 0 0 14px;
		margin-right: 13px;
		height: 35px;
		width: 250px;
		border-style: dashed;
		border-color: #7F7F7F;
		border-width: 2px;
		background-color: #1F1F1F;
		outline: none;
		margin-bottom: 20px;
	}

	a.write_button {
		/*position: absolute;*/
		font-size: 13px;
	  	color: #fff;
	  	text-decoration: none; /* убирать подчёркивание у ссылок */
	  	user-select: none; /* убирать выделение текста */
	  	background: rgb(23,22,22);
	  	padding: 12px 98px;
	  	outline: none; /* убирать контур в Mozilla */
	} 
	a.write_button:hover { background: rgb(29,28,28); }
	a.write_button:active { background: rgb(0,0,0); }


/* Новость */

.social {
	padding-bottom: 60px;
}


/* Расписание курсов */

table {
	width: 920px;
	margin-bottom: 60px;
	text-align: left;
}

	tr.table-header {
		font-size: 10px;
		color: #7F7F7F;
		letter-spacing: 2px;
		border-bottom: 1px solid #7F7F7F;
		font-family: 'HelveticaNeue', Arial, sans-serif;
	}

	tr.bg-grey {
		background-color: #F2F2F2;
	}

	th {
		padding: 10px 20px 0 20px;
	}

	th.col-name {
		width: 236px;
	}

	th.col-time {
		width: 180px;
	}

	th.col-data {
		width: 130px;
	}

	th.col-cost {
		width: 220px;
	}

	td {
		padding: 25px 20px;
	}

	/* Информация под загловком курса */

	.table-header-info {
		margin-top: 10px;
		font-size: 12px;
	}

		/* Бейдж-мини */

		.badge-new-mini {
			font-size: 8px;
			display: inline;
			letter-spacing: 1.6px;
			color: #000;
			height: 18px;
			text-align: center;
			padding: 4px 8px;
			margin-right: 18px;
			border: 1px solid #222;
		}

		/* Мелкий текст */

		.small-text {
			font-size: 12px;
		}


